# Python virtual environment
venv/
__pycache__/
*.pyc

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.history/

# Log files
*.log
